{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_account.css' %}">
    <!-- Google reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div class="create-account-container">
        <h2>Create Account</h2>
        <form method="post">
            {% csrf_token %}
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="message {% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% else %}warning-message{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password1">Password:</label>
                <input type="password" id="password1" name="password1" required>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password:</label>
                <input type="password" id="password2" name="password2" required>
            </div>
            <!-- Google reCAPTCHA -->
            <!-- <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY"></div>-->
            <br>
            <button type="submit">Create Account</button>
        </form>
    </div>
    <script src="{% static 'js/messages.js' %}"></script> <!-- Include messages.js file -->
</body>
</html>
