{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login to PyFiGenius</h2>
        <form method="post">
            {% csrf_token %}
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message {% if message.tags == 'error' %}error-message{% elif message.tags == 'success' %}success-message{% else %}warning-message{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
            <div class="form-links">
                <div class="link">
                    <a href="{% url 'forgot_password' %}">I forgot my password</a>
                </div>
            </div>
            <div class="form-links">
                <div class="link">
                    <a href="{% url 'create_account' %}">Create account</a>
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'js/messages.js' %}"></script> <!-- Include messages.js file -->
</body>
</html>


